.page-container {
    display: flex;
    height: 100vh;
    background-color: $base;
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        background-color: $highlight;
        padding: 50px;
        .sidebar__title {
            width: 100%;
        }
        .sidebar__actions {
            width: 100%;
            .sidebar__action-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;
                .sidebar__label {
                    margin: 0 0 5px 0;
                }
                .sidebar__action {
                    text-decoration: none;
                    margin: 10px 0 10px 15px;
                }
            }
        }
    }
    .dashboard {
        width: 80%;
        padding: 50px;
    }
}